<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div  class="ui center aligned grid">
  <div class="row_filler"></div>
    <div class="row">
      <h1 class="landing_page"> moodify </h1>
    </div>
      <div class="row">
        <button class="ui secondary big button">
          <%= link_to("SIGN UP", signup_path) %>
        </button>
      </div>
      <div class="row">
        <button class="ui secondary big button">
          <%= link_to("LOG IN", login_path) %>
        </button>
      </div>
</div>
  <div class="row_filler"></div>
